.App {
  text-align: center;
  background-color: antiquewhite;
  overflow: hidden;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.headingBar {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.headingBar header {
  color: #282c34;
  font-size: 50px;
  font-weight: 900;
  text-shadow: 0 0 20px #4e5461;
}

/* connection box */
.connectionBox {
  background: rgba(0, 0, 0, 0.05);
  height: 104px;
  width: 134px;
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  border-color: #4e5461;
  padding: 0;
  margin: 2px;
}
.connectionBox:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.1); 
}
.textboxContain input {
  background: none;
  border: none;
  width: 130px;
  height: 100px;
  text-align: center;
  padding: 0;
  font-weight: 700;
  font-size: 20px;
}
.footer {
  height: 100px;
}
.footer button {
  background: rgba(0, 0, 0, 0.05);
  height: 40px;
  width: 120px;
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  border-color: #4e5461;
  padding: 0;
  margin-top: 20px;
  font-weight: 700;
  font-size: 20px;
}