/* ----- GLOBAL ----- */
.Editing {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* ----- BOTTOM CREATE BUTTON ----- */
.create-button button {
  transition: ease-in-out .2s;
  background: none;
  width: 120px;
  height: 48px;
  border-style: solid;
  border-width: 1px;
  border-radius: 24px;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 15px;
  font-weight: 600;
  margin-top: 15px;
}
.create-button button:hover {
  cursor: pointer;
}
.create-button-inactive {
  opacity: 50%;
  background: none;
}