/* entire page */
.Playing {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* heading */
.heading-bar {
    height: 100px;
}
.heading-bar header {
    margin-top: 25px;
    font-size: 50px;
    font-weight: 900;
    text-shadow: 0 0 4px blueviolet;
}

/* game area */
.game-area {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

/* lives area */
.footer {
    margin-top: 10px;
}
.livesLeft {
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}
.livesLeft b {
    margin-right: 5px;
    text-shadow: 0 0 4px blueviolet;
}
.dot {
    font-size: 30px;
    color: #282c34;
}

/* bottom 3 buttons area */
.bottom-buttons {
    display: flex;
    flex-direction: row;
}
.bottom-buttons button {
    transition: ease-in-out .2s;
    width: 120px;
    height: 40px;
    border-style: solid;
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 15px;
    font-weight: 600;
}
.shuffle-deselect button {
    background:rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 4px blueviolet;
}
.shuffle-deselect button:hover {
    transition: ease-in-out .2s;
    background: rgba(0, 0, 0, 0.4);
    cursor: pointer;
}
.submit-active {
    transition: ease-in-out .2s;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 4px blueviolet;
    font-size: 15px;
    font-weight: 600;
}
.submit-active:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.4);
}
.submit-inactive {
    opacity: 50%;
    background: none;
    box-shadow: 0 0 4px blueviolet;
}

/* connection box */
.connect-button {
    transition: ease-in-out .2s;
    background: rgba(0, 0, 0, 0.05);
    height: 104px;
    width: 134px;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    border-color: #4e5461;
    padding: 0;
    margin: 2px;
    font-size: 14px;
    font-weight: 900;
}
.connect-button:hover {
    transition: ease-in-out .2s;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.1); 
}
.connect-button-selected {
    background: rgba(0, 0, 0, 0.5);
    transition: ease-in-out .2s;
    height: 104px;
    width: 134px;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    border-color: #4e5461;
    padding: 0;
    margin: 2px;
    font-size: 14px;
    font-weight: 900;
}
.connect-button-selected:hover {
    cursor: pointer;
}
/* each color change when correct words are submitted */
.connect-button-green {
    background: lightgreen;
    transition: ease-in-out .2s;
    height: 104px;
    width: 134px;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    border-color: #4e5461;
    padding: 0;
    margin: 2px;
    font-size: 14px;
    font-weight: 900;
}
.connect-button-yellow {
    background: rgb(255, 255, 147);
    transition: ease-in-out .2s;
    height: 104px;
    width: 134px;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    border-color: #4e5461;
    padding: 0;
    margin: 2px;
    font-size: 14px;
    font-weight: 900;
}
.connect-button-blue {
    background: lightskyblue;
    transition: ease-in-out .2s;
    height: 104px;
    width: 134px;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    border-color: #4e5461;
    padding: 0;
    margin: 2px;
    font-size: 14px;
    font-weight: 900;
}
.connect-button-purple {
    background: rgb(255, 124, 255);
    transition: ease-in-out .2s;
    height: 104px;
    width: 134px;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    border-color: #4e5461;
    padding: 0;
    margin: 2px;
    font-size: 14px;
    font-weight: 900;
}