/* ----- GLOBAL ----- */
.Playing {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ----- HEADING AREA ----- */
.heading-bar {
    height: 100px;
}
.heading-bar header {
    margin-top: 25px;
    font-size: 50px;
    font-weight: 900;
}

/* ----- GAME AREA ----- */
.game-area {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

/* ----- LIVES REMAINING */
.footer {
    margin-top: 10px;
}
.livesLeft {
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}
.livesLeft b {
    margin-right: 5px;
}
/* heart html text */
.heart {
    font-size: 30px;
    color: #282c34;
}

/* ----- BOTTOM BUTTONS ----- */
/* all buttons */
.bottom-buttons {
    display: flex;
    flex-direction: row;
}
.bottom-buttons button {
    transition: ease-in-out .2s;
    background: none;
    width: 120px;
    height: 48px;
    border-style: solid;
    border-width: 1px;
    border-radius: 24px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 15px;
    font-weight: 600;
}
/* shuffle */
.shuffle button {
    transition: ease-in-out .2s;
}
.shuffle button:hover {
    transition: ease-in-out .2s;
    cursor: pointer;
}
/* deselect */
.deselect-active {
    transition: ease-in-out .2s;
}
.deselect-active:hover {
    transition: ease-in-out .2s;
    cursor: pointer;
}
.deselect-inactive {
    opacity: 50%;
}
/* submit */
.submit-active {
    transition: ease-in-out .2s;
    font-size: 15px;
    font-weight: 600;
}
.submit-active:hover {
    cursor: pointer;
}
.submit-inactive {
    opacity: 50%;
    background: none;
}

/* ----- CONNECTION BOX ----- */
.connect-button {
    transition: ease-in-out .2s;
    background: rgb(239, 239, 230);
    border-radius: 6px;
    border: none;
    box-sizing: border-box;
    font-size: 18px;
    line-height: 16px;
    font-weight: 900;
    height: 100px;
    width: 130px;
    margin: 4px;
}
.connect-button:hover {
    cursor: pointer;
}
.connect-button-selected {
    transition: ease-in-out .2s;
    background: rgb(90, 89, 78);
    color: white;
    border-radius: 6px;
    border: none;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 16px;
    font-weight: 700;
    height: 100px;
    width: 130px;
    margin: 4px;
}
.connect-button-selected:hover {
    cursor: pointer;
}
/* each color change when correct words are submitted */
.connect-button-green {
    background: lightgreen;
    transition: ease-in-out .2s;
    height: 104px;
    width: 134px;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    border-color: #4e5461;
    padding: 0;
    margin: 2px;
    font-size: 14px;
    font-weight: 900;
}
.connect-button-yellow {
    background: rgb(255, 255, 147);
    transition: ease-in-out .2s;
    height: 104px;
    width: 134px;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    border-color: #4e5461;
    padding: 0;
    margin: 2px;
    font-size: 14px;
    font-weight: 900;
}
.connect-button-blue {
    background: lightskyblue;
    transition: ease-in-out .2s;
    height: 104px;
    width: 134px;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    border-color: #4e5461;
    padding: 0;
    margin: 2px;
    font-size: 14px;
    font-weight: 900;
}
.connect-button-purple {
    background: rgb(255, 124, 255);
    transition: ease-in-out .2s;
    height: 104px;
    width: 134px;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    border-color: #4e5461;
    padding: 0;
    margin: 2px;
    font-size: 14px;
    font-weight: 900;
}